
@{
    ViewData["Title"] = "Contact Page";
}

<h2 style="text-align: center;"> Contact Page</h2><br /><br />

<div class="card-group">

<div class="card" style="width: 18rem;">
    <img src="~/images/kontak/farhan.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Farhan Rizki M</h5>
        <p class="card-text">Seorang mahasiswa yang ingin jadi insinyur</p>
    </div>
    <pre>
    <a href="https://www.instagram.com/farhanrizkimln/"><img src="~/images/kontak/instagram.png" style="width:42px;height:42px;"></a>   <a href="https://wa.me/6281213280892?text=permisi%20kak%20film%20nya%20bagus%20banget"><img src="~/images/kontak/whatsapp.png" style="width:42px;height:42px;"></a>   <a href="mailto:farhanrizki101010@gmail.com"><img src="~/images/kontak/mail.png" style="width:42px;height:42px;"></a>   <a href="#"><img src="~/images/kontak/facebook.png" style="width:42px;height:42px;"></a>
    </pre>
</div>

<div class="card" style="width: 18rem;">
    <img src="~/images/kontak/riziq.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Farhan Riziq</h5>
        <p class="card-text">Seorang mahasiswa yang ingin jadi insinyur</p>
    </div>
    <pre>
    <a href="https://www.instagram.com/frhnrzq__/"><img src="~/images/kontak/instagram.png" style="width:42px;height:42px;"></a>   <a href="https://wa.me/6281372293289?text=permisi%20kak%20film%20nya%20bagus%20banget"><img src="~/images/kontak/whatsapp.png" style="width:42px;height:42px;"></a>   <a href="https://www.instagram.com/farhanrizkimln/"><img src="~/images/kontak/mail.png" style="width:42px;height:42px;"></a>   <a href="#"><img src="~/images/kontak/facebook.png" style="width:42px;height:42px;"></a>
    </pre>
</div>

<div class="card" style="width: 18rem;">
    <img src="~/images/kontak/gipar.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Ghifar Damara</h5>
        <p class="card-text">Seorang mahasiswa yang ingin jadi insinyur</p>
    </div>
    <pre>
    <a href="https://www.instagram.com/gwithf__/"><img src="~/images/kontak/instagram.png" style="width:42px;height:42px;"></a>   <a href="https://wa.me/62895349683020?text=permisi%20kak%20film%20nya%20bagus%20banget"><img src="~/images/kontak/whatsapp.png" style="width:42px;height:42px;"></a>   <a href="https://www.instagram.com/farhanrizkimln/"><img src="~/images/kontak/mail.png" style="width:42px;height:42px;"></a>   <a href="#"><img src="~/images/kontak/facebook.png" style="width:42px;height:42px;"></a>
    </pre>
</div>
    <div class="card" style="width: 18rem;">
        <img src="~/images/kontak/ludha.png" style="width:323px;height:430px;" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Ludha Hardeka</h5>
            <p class="card-text">Seorang mahasiswa yang ingin jadi insinyur</p>
        </div>
        <pre>
    <a href="https://www.instagram.com/kj_dhaaa/"><img src="~/images/kontak/instagram.png" style="width:42px;height:42px;"></a>   <a href="https://wa.me/6282265181236?text=permisi%20kak%20film%20nya%20bagus%20banget"><img src="~/images/kontak/whatsapp.png" style="width:42px;height:42px;"></a>   <a href="https://www.instagram.com/farhanrizkimln/"><img src="~/images/kontak/mail.png" style="width:42px;height:42px;"></a>   <a href="#"><img src="~/images/kontak/facebook.png" style="width:42px;height:42px;"></a>
    </pre>
    </div>
</div>