@model ASPFILM.Models.UpdateFilmViewModel

@{
}

<h2 class="text-center">Edit Films</h2>

<td><a class="btn btn-primary" href="~/Films/View" role="button">Back</a></td>
<form method="post" action="View" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div><div class="mb-3">
        <label for="" class="form-label">Judul Film</label>
        <input type="text" class="form-control" asp-for="Judul">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Genre Film</label>
        <input type="text" class="form-control" asp-for="Genre">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Rating Film</label>
        <input type="text" class="form-control" asp-for="Rating">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Durasi Film</label>
        <input type="text" class="form-control" asp-for="Durasi">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Tanggal Rilis</label>
        <input type="text" class="form-control" asp-for="Rilis">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Sinopsis Film</label>
        <input type="text" class="form-control" asp-for="Sinopsis">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

    <button type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="Films">Delete</button>
    
</form>
